:root {
	--color-text: #24292e;
}

.editor-styles-wrapper {
	color: var(--color-text);
}

.editor-styles-wrapper button:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]) {
	min-height: 1.5rem;
}

.editor-styles-wrapper .block-heading {
	background-color: #eee;
}
