:where(.wp-site-blocks) li {
	border-bottom: 1px solid #e1e4e8;
}

:root {
    --color-text: #24292e;
}

html {
    font-family: sans-serif;
}

body {
    color: var(--color-text);
}

a {
	text-decoration: underline;
}

main a {
	text-decoration: none;
}

.editor-styles-wrapper {
	background-color: green;
}

.block-heading {
    background-color: #eee;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}



#my_id {
    display: flex;
}

*,
::after,
::before {
    box-sizing: border-box;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
