:root {
    --color-text: #24292e;
}

.editor-styles-wrapper {
    color: var(--color-text);
}

.editor-styles-wrapper button:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]),
.editor-styles-wrapper input:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]),
.editor-styles-wrapper select:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]),
.editor-styles-wrapper textarea:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]) {
    font-family: inherit;
}

.editor-styles-wrapper [type="button"]:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]),
.editor-styles-wrapper [type="reset"],
.editor-styles-wrapper [type="submit"],
.editor-styles-wrapper button:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]) {
    -webkit-appearance: button;
}

.editor-styles-wrapper button:focus,
.editor-styles-wrapper button:hover {
    box-shadow: inset 0 0 0 20rem rgba(189, 196, 201, 0.3);
}

.editor-styles-wrapper .block-heading {
    background-color: #eee;
}

.editor-styles-wrapper i {
    font-family: icons;
}

.editor-styles-wrapper a:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]) {
    font-weight: 700;
}

.editor-styles-wrapper a:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]) {
    color: blue;
}

.editor-styles-wrapper #my_id {
    display: flex;
}

.editor-styles-wrapper *,
.editor-styles-wrapper ::after,
.editor-styles-wrapper ::before {
    box-sizing: border-box;
}

.editor-styles-wrapper h1 {
    font-size: 2em;
}

.editor-styles-wrapper hr {
    overflow: visible;
}

.editor-styles-wrapper main {
    display: block;
}

.editor-styles-wrapper nav ol,
.editor-styles-wrapper nav ul {
    list-style: none;
}

.editor-styles-wrapper pre {
    font-size: 1em;
}

.editor-styles-wrapper abbr[title] {
    text-decoration: underline dotted;
}

.editor-styles-wrapper small {
    font-size: 80%;
}

.editor-styles-wrapper table {
    border-collapse: collapse;
}

.editor-styles-wrapper td,
.editor-styles-wrapper th,
.editor-styles-wrapper tr {
    color: #b2b2b2;
}
