button {
    box-shadow: inset 0 0 0 20rem rgba(189, 196, 201, 0.3);
}

button:focus,
button:hover {
    box-shadow: none;
}

.some button {
    font-family: icons;
}

form a {
    color: red;
}

a {
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

hr {
    overflow: visible;
}

input[type="submit"] {
    display: block;
}

nav ol,
nav ul {
    list-style: none;
}

[type="submit"] {
    font-size: 1em;
}

input[type="submit"] {
    font-size: 1em;
}

abbr[title] {
    text-decoration: underline dotted;
}

td,
th,
tr {
    color: #b2b2b2;
}
